# Loops


    FOR loop
    While loop

In [1]:
simpl_list=[0,1,2,3,4,5,65,745,800,98]
print(simpl_list)

[0, 1, 2, 3, 4, 5, 65, 745, 800, 98]

In [2]:
for i in simpl_list:
    print(i)

0
1
2
3
4
5
65
745
800
98

In [3]:
for i in simpl_list[1:4]:
    for j in simpl_list[5:8]:
        print(i*j)

5
65
745
10
130
1490
15
195
2235

In [4]:
#looping over a range of values
print(range(5))

range(0, 5)

In [5]:
for i in range (5):
    print(i)

0
1
2
3
4

In [6]:
# range with starting and end value
for i in range (2,5):
    print(i)

2
3
4

In [7]:
#Printing square from 1 to 10 using a for loop

In [8]:
for i in range(1,11):
    print(i*i)

1
4
9
16
25
36
49
64
81
100

In [9]:
## or u can write 
a=[1,2,3,4,5,6,7,8,9,10]
for i in a:
    print('sqaure of {} is {}'.format(i,i*i))

sqaure of 1 is 1
sqaure of 2 is 4
sqaure of 3 is 9
sqaure of 4 is 16
sqaure of 5 is 25
sqaure of 6 is 36
sqaure of 7 is 49
sqaure of 8 is 64
sqaure of 9 is 81
sqaure of 10 is 100

In [10]:
# f is used for .format
a=[1,2,3,4,5,6,7,8,9,10]
for i in a:
    print(f'sqaure of {i} is {i*i}')

sqaure of 1 is 1
sqaure of 2 is 4
sqaure of 3 is 9
sqaure of 4 is 16
sqaure of 5 is 25
sqaure of 6 is 36
sqaure of 7 is 49
sqaure of 8 is 64
sqaure of 9 is 81
sqaure of 10 is 100

### Using IF-ELSE with for Loop

In [11]:
#Printing squares of even numbers from 1 to 100

In [12]:
x=range(101)
for i in x:
    if i%2==0:          ##i mod 2(i/2=0)
         print(f'sqaure of {i} is {i*i}')

sqaure of 0 is 0
sqaure of 2 is 4
sqaure of 4 is 16
sqaure of 6 is 36
sqaure of 8 is 64
sqaure of 10 is 100
sqaure of 12 is 144
sqaure of 14 is 196
sqaure of 16 is 256
sqaure of 18 is 324
sqaure of 20 is 400
sqaure of 22 is 484
sqaure of 24 is 576
sqaure of 26 is 676
sqaure of 28 is 784
sqaure of 30 is 900
sqaure of 32 is 1024
sqaure of 34 is 1156
sqaure of 36 is 1296
sqaure of 38 is 1444
sqaure of 40 is 1600
sqaure of 42 is 1764
sqaure of 44 is 1936
sqaure of 46 is 2116
sqaure of 48 is 2304
sqaure of 50 is 2500
sqaure of 52 is 2704
sqaure of 54 is 2916
sqaure of 56 is 3136
sqaure of 58 is 3364
sqaure of 60 is 3600
sqaure of 62 is 3844
sqaure of 64 is 4096
sqaure of 66 is 4356
sqaure of 68 is 4624
sqaure of 70 is 4900
sqaure of 72 is 5184
sqaure of 74 is 5476
sqaure of 76 is 5776
sqaure of 78 is 6084
sqaure of 80 is 6400
sqaure of 82 is 6724
sqaure of 84 is 7056
sqaure of 86 is 7396
sqaure of 88 is 7744
sqaure of 90 is 8100
sqaure of 92 is 8464
sqaure of 94 is 8836
sqaure of 96 is 9216
sqaure of 98 is 9604
sqaure of 100 is 10000

In [13]:
#Printing squares of odd numbers from 1 to 100

In [14]:
x=range(101)
for i in x:
    if i%2!=0:
        print(f'sqaure of {i} is {i*i}')

sqaure of 1 is 1
sqaure of 3 is 9
sqaure of 5 is 25
sqaure of 7 is 49
sqaure of 9 is 81
sqaure of 11 is 121
sqaure of 13 is 169
sqaure of 15 is 225
sqaure of 17 is 289
sqaure of 19 is 361
sqaure of 21 is 441
sqaure of 23 is 529
sqaure of 25 is 625
sqaure of 27 is 729
sqaure of 29 is 841
sqaure of 31 is 961
sqaure of 33 is 1089
sqaure of 35 is 1225
sqaure of 37 is 1369
sqaure of 39 is 1521
sqaure of 41 is 1681
sqaure of 43 is 1849
sqaure of 45 is 2025
sqaure of 47 is 2209
sqaure of 49 is 2401
sqaure of 51 is 2601
sqaure of 53 is 2809
sqaure of 55 is 3025
sqaure of 57 is 3249
sqaure of 59 is 3481
sqaure of 61 is 3721
sqaure of 63 is 3969
sqaure of 65 is 4225
sqaure of 67 is 4489
sqaure of 69 is 4761
sqaure of 71 is 5041
sqaure of 73 is 5329
sqaure of 75 is 5625
sqaure of 77 is 5929
sqaure of 79 is 6241
sqaure of 81 is 6561
sqaure of 83 is 6889
sqaure of 85 is 7225
sqaure of 87 is 7569
sqaure of 89 is 7921
sqaure of 91 is 8281
sqaure of 93 is 8649
sqaure of 95 is 9025
sqaure of 97 is 9409
sqaure of 99 is 9801

## While Loop

In [15]:
i=5
while i<10:
    print(i)
    i=i+1

5
6
7
8
9

In [16]:
#Printing square from 1 to 10
i=0
while i<=10:
    print(f'sqaure of {i} is {i*i}')
    i=i+1

sqaure of 0 is 0
sqaure of 1 is 1
sqaure of 2 is 4
sqaure of 3 is 9
sqaure of 4 is 16
sqaure of 5 is 25
sqaure of 6 is 36
sqaure of 7 is 49
sqaure of 8 is 64
sqaure of 9 is 81
sqaure of 10 is 100

In [17]:
#Printing square of even num from 1 to 10
i=0
while i<=10:
    if i%2==0:
        print(f'sqaure of even num {i} is {i*i}')
    i=i+1

sqaure of even num 0 is 0
sqaure of even num 2 is 4
sqaure of even num 4 is 16
sqaure of even num 6 is 36
sqaure of even num 8 is 64
sqaure of even num 10 is 100

In [18]:
#Printing square of odd num from 1 to 10

In [19]:
i=0
while i<=10:
    if i%2!=0:
        print(f'sqaure of odd num {i} is {i*i}')
    i=i+1

sqaure of odd num 1 is 1
sqaure of odd num 3 is 9
sqaure of odd num 5 is 25
sqaure of odd num 7 is 49
sqaure of odd num 9 is 81

In [20]:
# while loop for access permission
user_id=input('enter your name')
password=int(input('enter password'))
if user_id=='abcd' and password==1234:
    print('login success')
else:
    print('login failed')

enter your namesoma
enter password1234
login failed

### Using IF-ELSE with `while` Loop

In [ ]:
while True:
    user_id=input('enter your name')
    password=int(input('enter password'))
    if user_id=='abcd' and password==1234:
        print('login success')
    else:
        print('login failed')

enter your nameabcd
enter password1234
login success
enter your namesoma
enter password15336
login failed

## You gotta use your python skills to help your local shopkeeper calculate the Net Price for his shop's product provided below along with it's respective GST slab

GST Amount = ( Original Cost * GST ) / 100

Net Price = Original Cost + GST Amount

Product Cost / GST Slab

Product1- 1000 / 18%

Product2- 250 / 18%

Product3- 125 / 5%

Product4- 345 / 18%

Product5- 820 / 12%

Product6- 980 / 5%

Product7- 500 / 12%

In [ ]:
# Hint Create a dictionary and loop

In [ ]:
product_gst_slab={soma
                  'product1':18,'product2':18,'product3':5,'product4':18,'product5':12,'product6':5,'product7':1}
product_original_cost={'product1':1000,'product2':250,'product3':125,'product4':345,'product5':820,'product6':980,'product7':500}
product_gst_slab.keys()

In [ ]:
for i in product_gst_slab.keys():
    gst_amount=(product_original_cost[i]*product_gst_slab[i])/100
    net_price=(product_original_cost[i]+gst_amount)
    print('the net price of {} at gst {} is {}'.format(i,product_gst_slab[i],net_price))

# User defined functions

In [ ]:
# # define a function that takes an input, squares it, adds 7, then returns the answer

In [ ]:
def soma():
    print("hey soma")
    
    
soma()

In [ ]:
def math(x):
    y=x*x
    z=y+7
    return(z)


math(7)

In [ ]:
# Write a function to add and subtract two variables

In [ ]:
def math_fun(x,y):
    add=x+y
    sub=x-y
    return(add,sub)


math_fun(10,20)

In [ ]:
def evenodd(x):
    if x%2==0:
        print("even")
    else:
        print("odd")
        
        
evenodd(67)

In [ ]:
### Write a UDF that returns true if the input is a prime number and False otherwise.

In [ ]:
def prime(x):
    if (x==1):
        return False
    elif (x==2):
        return True
    else:
        for a in range (2,x):
            if (x%a==0):
                return False
    return True

In [ ]:
prime(58)

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    elif n == 2:
        return True
    for i in range(2, n//2+1):
        if n % i == 0:
            return False

    return True

is_prime(55)

In [ ]:
### Write a UDF that takes a list as input and returns the reverse list.

In [ ]:
def reversing(list):
    list.reverse()
    return lst

lst=[12,54,678,44,77]

In [ ]:
reversing(lst)

In [ ]:
## lambda function

lamx2p7=lambda x: x*x+7
print(lamx2p7(3))

In [ ]:
lam1= lambda x,y,z: x*y + y*z + y/z
print(lam1(1,6,2))

In [ ]:
print(lam1(8,6,2))